body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:hover {
  color: inherit;
}

.c-slider {
  min-width: 100px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}

.c-slider__labels {
  display: flex;
  justify-content: space-between;
}
